<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

    <targets>
        <target xsi:type="File" 
                name="allfile" 
                fileName="logs/all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" 
                name="ownFile-web" 
                fileName="logs/maintenance-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="Console" 
                name="console" 
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Info" writeTo="allfile" final="true" />
        <logger name="DatabaseMaintenance.*" minlevel="Debug" writeTo="ownFile-web" />
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog> 